.link-purpose-nobreak {
    white-space: nowrap;
}

.link-purpose-icon {
    margin-left: .125em;
    width: 1em;
    height: 1em;
    display: inline-block;
    overflow: hidden;
    text-indent: 1em;
    vertical-align: middle;
}

.link-purpose-icon svg, .link-purpose-icon img {
    width: .875em;
    height: .875em;
    margin: -1px 1em 0 -1em;
    vertical-align: top;
}
.link-purpose-mail-icon svg {
    margin-top: 0;
}

.link-purpose-icon.svg-inline--fa {
  margin-top: -.25rem;
  height: .8125em;
}

