.link-purpose-nobreak {
    white-space: nowrap;
}
.link-purpose-icon {
    width: .917em;
    height: 1em;
    margin: 0 .25em;
    display: inline-block;
    font-size: .75em;
}
.link-purpose-icon.svg-inline--fa {
    vertical-align: initial;
}
.linkpurpose-default-svg {
    transform: translateY(.0625em);
}
.link-purpose-mail-icon .linkpurpose-default-svg {
    width: 1em;
    transform: translateY(.133em);
}
.link-purpose-document-icon .linkpurpose-default-svg {
    transform: none;
}
.link-purpose-icon svg {
    width: 100%;
    height: 100%;
}
.link-purpose-icon.svg-inline--fa {
  margin: 0 .25em;
}
.link-purpose-text {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}
